{
  "classes" : {
    "com.squareup.okhttp3.Address" : "Address",
    "com.squareup.okhttp3.Authenticator" : "Authenticator",
    "com.squareup.okhttp3.Authenticator$Companion" : "Authenticator.Companion",
    "com.squareup.okhttp3.Authenticator$Companion$AuthenticatorNone" : "Authenticator.Companion.AuthenticatorNone",
    "com.squareup.okhttp3.Cache" : "Cache",
    "com.squareup.okhttp3.Cache$CacheResponseBody" : "Cache.CacheResponseBody",
    "com.squareup.okhttp3.Cache$Companion" : "Cache.Companion",
    "com.squareup.okhttp3.Cache$Entry" : "Cache.Entry",
    "com.squareup.okhttp3.Cache$RealCacheRequest" : "Cache.RealCacheRequest",
    "com.squareup.okhttp3.CacheControl" : "CacheControl",
    "com.squareup.okhttp3.CacheControl$Builder" : "CacheControl.Builder",
    "com.squareup.okhttp3.CacheControl$Companion" : "CacheControl.Companion",
    "com.squareup.okhttp3.Call" : "Call",
    "com.squareup.okhttp3.Call$Factory" : "Call.Factory",
    "com.squareup.okhttp3.Callback" : "Callback",
    "com.squareup.okhttp3.CertificatePinner" : "CertificatePinner",
    "com.squareup.okhttp3.CertificatePinner$Builder" : "CertificatePinner.Builder",
    "com.squareup.okhttp3.CertificatePinner$Companion" : "CertificatePinner.Companion",
    "com.squareup.okhttp3.CertificatePinner$Pin" : "CertificatePinner.Pin",
    "com.squareup.okhttp3.Challenge" : "Challenge",
    "com.squareup.okhttp3.CipherSuite" : "CipherSuite",
    "com.squareup.okhttp3.CipherSuite$Companion" : "CipherSuite.Companion",
    "com.squareup.okhttp3.Connection" : "Connection",
    "com.squareup.okhttp3.ConnectionPool" : "ConnectionPool",
    "com.squareup.okhttp3.ConnectionSpec" : "ConnectionSpec",
    "com.squareup.okhttp3.ConnectionSpec$Builder" : "ConnectionSpec.Builder",
    "com.squareup.okhttp3.ConnectionSpec$Companion" : "ConnectionSpec.Companion",
    "com.squareup.okhttp3.Cookie" : "Cookie",
    "com.squareup.okhttp3.Cookie$Builder" : "Cookie.Builder",
    "com.squareup.okhttp3.Cookie$Companion" : "Cookie.Companion",
    "com.squareup.okhttp3.CookieJar" : "CookieJar",
    "com.squareup.okhttp3.CookieJar$Companion" : "CookieJar.Companion",
    "com.squareup.okhttp3.CookieJar$Companion$NoCookies" : "CookieJar.Companion.NoCookies",
    "com.squareup.okhttp3.Credentials" : "Credentials",
    "com.squareup.okhttp3.Dispatcher" : "Dispatcher",
    "com.squareup.okhttp3.Dns" : "Dns",
    "com.squareup.okhttp3.Dns$Companion" : "Dns.Companion",
    "com.squareup.okhttp3.Dns$Companion$DnsSystem" : "Dns.Companion.DnsSystem",
    "com.squareup.okhttp3.EventListener" : "EventListener",
    "com.squareup.okhttp3.EventListener$Companion" : "EventListener.Companion",
    "com.squareup.okhttp3.EventListener$Factory" : "EventListener.Factory",
    "com.squareup.okhttp3.FormBody" : "FormBody",
    "com.squareup.okhttp3.FormBody$Builder" : "FormBody.Builder",
    "com.squareup.okhttp3.FormBody$Companion" : "FormBody.Companion",
    "com.squareup.okhttp3.Handshake" : "Handshake",
    "com.squareup.okhttp3.Handshake$Companion" : "Handshake.Companion",
    "com.squareup.okhttp3.Headers" : "Headers",
    "com.squareup.okhttp3.Headers$Builder" : "Headers.Builder",
    "com.squareup.okhttp3.Headers$Companion" : "Headers.Companion",
    "com.squareup.okhttp3.HttpUrl" : "HttpUrl",
    "com.squareup.okhttp3.HttpUrl$Builder" : "HttpUrl.Builder",
    "com.squareup.okhttp3.HttpUrl$Builder$Companion" : "HttpUrl.Builder.Companion",
    "com.squareup.okhttp3.HttpUrl$Companion" : "HttpUrl.Companion",
    "com.squareup.okhttp3.Interceptor" : "Interceptor",
    "com.squareup.okhttp3.Interceptor$Chain" : "Interceptor.Chain",
    "com.squareup.okhttp3.Interceptor$Companion" : "Interceptor.Companion",
    "com.squareup.okhttp3.MediaType" : "MediaType",
    "com.squareup.okhttp3.MediaType$Companion" : "MediaType.Companion",
    "com.squareup.okhttp3.MultipartBody" : "MultipartBody",
    "com.squareup.okhttp3.MultipartBody$Builder" : "MultipartBody.Builder",
    "com.squareup.okhttp3.MultipartBody$Companion" : "MultipartBody.Companion",
    "com.squareup.okhttp3.MultipartBody$Part" : "MultipartBody.Part",
    "com.squareup.okhttp3.MultipartBody$Part$Companion" : "MultipartBody.Part.Companion",
    "com.squareup.okhttp3.MultipartReader" : "MultipartReader",
    "com.squareup.okhttp3.MultipartReader$Companion" : "MultipartReader.Companion",
    "com.squareup.okhttp3.MultipartReader$Part" : "MultipartReader.Part",
    "com.squareup.okhttp3.MultipartReader$PartSource" : "MultipartReader.PartSource",
    "com.squareup.okhttp3.OkHttp" : "OkHttp",
    "com.squareup.okhttp3.OkHttpClient" : "OkHttpClient",
    "com.squareup.okhttp3.OkHttpClient$Builder" : "OkHttpClient.Builder",
    "com.squareup.okhttp3.OkHttpClient$Companion" : "OkHttpClient.Companion",
    "com.squareup.okhttp3.Request" : "Request",
    "com.squareup.okhttp3.Request$Builder" : "Request.Builder",
    "com.squareup.okhttp3.RequestBody" : "RequestBody",
    "com.squareup.okhttp3.RequestBody$Companion" : "RequestBody.Companion",
    "com.squareup.okhttp3.Response" : "Response",
    "com.squareup.okhttp3.Response$Builder" : "Response.Builder",
    "com.squareup.okhttp3.ResponseBody" : "ResponseBody",
    "com.squareup.okhttp3.ResponseBody$BomAwareReader" : "ResponseBody.BomAwareReader",
    "com.squareup.okhttp3.ResponseBody$Companion" : "ResponseBody.Companion",
    "com.squareup.okhttp3.Route" : "Route",
    "com.squareup.okhttp3.WebSocket" : "WebSocket",
    "com.squareup.okhttp3.WebSocket$Factory" : "WebSocket.Factory",
    "com.squareup.okhttp3.WebSocketListener" : "WebSocketListener",
    "okio.BufferedSource": "BufferedSource"
  },
  "dependencies": [
    "com.squareup.okhttp3:okhttp:4.12.0" 
  ],
  "filterExclude" : [
    "com.squareup.okhttp3.OkHttpClient#access$getDEFAULT_CONNECTION_SPECS$cp",
    "com.squareup.okhttp3.OkHttpClient#access$getDEFAULT_PROTOCOLS$cp"
  ],
}
